{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cari Pakar Dosen Indonesia</title>
{% endblock title %}

{% block content %}
<div class="pd-20">
	<p>
		Hasil tugas akhir berbentuk web yang terdiri dari dua fungsi utama: <br>
		1. Mapping permasalahan dengan bidang keahlian terkait <br>
		2. Mapping bidang keahlian terkait dengan pakar yang sesuai (lingkup dosen) <br><br>
		By: Dharma Kurnia Septialoka <br>
		Supervised by: Pak Windy Gambetta
	</p>
</div>

{% endblock content %}